<footer class="page-footer font-small bg-dark text-light">
    <div class="footer-copyright text-center py-3">
        © 2019 Copyright:
        <a href="mailto:dusan.mandrapa@gmail.com"> Hood</a>
    </div>
</footer>
