
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Admin Login</h2>

<div class="card text-right">
    <div class="card-body">
        <form action="/Admin/AdminLogin" method="post" name="forma">
            <div class="form-group">
                <input type="text" class="form-control" name="KorisnickoIme" placeholder="Korisničko ime" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="Lozinka" placeholder="Lozinka" required="">
            </div>
            <button type="submit" id="sendlogin" class="btn btn-primary" @*onclick="return proveriLoginAdmin();"*@>Login</button>
        </form>
    </div>
</div>