@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container pt-5 text-center">
    <div class="row">
        <div class="col-4 h3 bg-info">@ViewBag.info@ViewBag.resetPass</div>
    </div>
</div>