@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    var dateNow = DateTime.Now;
    var pocetak = new DateTime(dateNow.Year, dateNow.Month, dateNow.Day, 17, 40, 0);
}

<div class="container pt-5 text-center">
    <div class="row">
        <div class="col-4 h3 bg-info">
            @ViewBag.info@ViewBag.resetPass

        </div>
    </div>
    <div>
        <div>
            <form action="/Home/LekarLogin" method="post" name="forma">
                @ViewBag.notFound<br />
                Korisnicko ime: <input type="text" name="KorisnickoIme" />
                Lozinka: <input type="password" name="Lozinka" />
                <input type="submit" value="Login" onclick="return proveriLogin();" />
            </form>
        </div>
    </div>
</div>