@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    var dateNow = DateTime.Now;
    var pocetak = new DateTime(dateNow.Year, dateNow.Month, dateNow.Day, 17, 40, 0);
}
@section LekarLogin
    {
    @if (Session["IDLekara"] == null && Session["IDPacijenta"] == null)
    {

        <form action="~/Home/LekarLogin" method="post" name="forma2">
            @ViewBag.notFound<br />
            Korisnicko ime: <input type="text" name="KorisnickoIme" /><br />
            Lozinka: <input type="password" name="Lozinka" /><br />
            <input type="submit" value="Login" onclick="return proveriLogin();" />
        </form>
    }
    else
    {
        <p></p>
    }
}
@ViewBag.info@ViewBag.resetPass


