@*@model EvidencijaPacijenata.Models.Pacijent*@
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<script src="~/Scripts/jsFile.js"></script>
<h2>ResetPassword</h2>
<form action="ResetPass" name="formaResetPass" method="post">
    <div class="form-horizontal">
        <h4>Izmena lozinke pacijenta</h4>
        <hr />
        <div class="form-group">
            <label for="bzk" class="control-label col-md-2">Broj zdravstvene knjižice</label>
            <div class="col-md-10">
                <input type="text" name="KorisnickoIme" id="bzk" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="control-label col-md-2">E-mail adresa</label>
            <div class="col-md-10">
                <input type="email" name="Email" id="email" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="lozinka1" class="control-label col-md-2">Nova lozinka</label>
            <div class="col-md-10">
                <input type="password" name="Lozinka" id="lozinka1" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="lozinka2" class="control-label col-md-2">Ponovi lozinku</label>
            <div class="col-md-10">
                <input type="password" name="lozinka2" id="lozinka2" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Potvrdi" class="btn btn-primary" onclick="return resetPassword();" />
            </div>
        </div>
    </div>
</form>
